.AddButton{
    display:  flex;
    height: 2em;
    width: 10em;
    border: 2px solid black ;
    justify-content: center;
    border-radius: 1em;
    align-items: center;
}

.Input {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 50vw;
    height: 2em;   
}

.AddBar{
    display: flex;
    align-items:  center;
}

.ProgressSection{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    background-color: cornflowerblue;
    height: 90vh
}
.Paper{
    margin:1em;
    background-color: white;
    width: 30vw;
    justify-content: center;
    border-radius: 1em;
    display: grid;
    /* grid-template-rows: auto; */
    overflow: hidden;
    scroll-behavior: smooth;
}

.Title {
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.Data{
    gap:10px;
}
.Row  { 
    display: flex;
    height: 2em;
    background-color: silver;
    font-size: 2em;
    border-radius: 1em;
    border: 2px solid black;
    justify-content: center;
    flex-direction: column;
    margin: 1em;
    padding:1em;

    /* max-width: fit-content; */
}